{% extends 'base.html.twig' %} {% block title %}Tous les produits{% endblock %} {% block body %}

<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for produit in produits %}
        <tr>
            <td><img src="{{ produit.image }}" style="max-width: 50px; max-height: 50px"></td>
            <td>{{ produit.nom }}</td>
            <td>{{ produit.prix }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}